@import "main.scss";

.btn__container {
  width: 0rem;
  margin: 2rem;
  
  .btn__aboutme {
    width: 12.5rem;
    height: 3rem;
    background-color: $dark-blue;
    padding-left: 2rem;
    font-family: $public-sans;
    font-size: 12px;
    color: #ffffff;
    border: none;
    font-weight: 100;
    cursor: pointer;
    transition: background-color 0.5s ease, opacity 0.5s ease;
  }
  .btn__sendmsg {
    width: 12.5rem;
    height: 3rem;
    background-color: $dark-blue;
    text-align: center;
    font-family: $public-sans;
    font-size: 12px;
    color: #ffffff;
    border: none;
    font-weight: 100;
    cursor: pointer;
    transition: background-color 0.5s ease, opacity 0.5s ease;
  }

  .btn__goto {
    font-family: $public-sans;
    width: 12.62rem;
    height: 3rem;
    background-color: transparent;
    border-width: 1px;
    cursor: pointer;
    font-weight: 100;
    font-size: 12px;
    transition: 0.5s ease;
  }
  .btn__contactme {
    font-family: $public-sans;
    width: 10.1rem;
    height: 3rem;
    background-color: transparent;
    border-width: 1px;
    cursor: pointer;
    font-weight: 100;
    font-size: 12px;
    transition: 0.5s ease;
  }

  .btn__viewproject {
    font-family: $public-sans;
    width: 10.1rem;
    height: 3rem;
    background-color: transparent;
    border-width: 1px;
    cursor: pointer;
    font-weight: 100;
    font-size: 12px;
    transition: 0.5s ease;
  }
  .btn__visitwebsite {
    font-family: $public-sans;
    width: 10.1rem;
    height: 3rem;
    background-color: transparent;
    border-width: 1px;
    cursor: pointer;
    font-weight: 100;
    font-size: 12px;
    transition: 0.5s ease;
  }
  .triangle__icon {
    width: 3rem;
    height: 3rem;
    background-color: $dark-blue;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 1;
    transition: 0.5s ease;
  }
  .icon__image {
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.btn__container .btn__contactme {
  margin-left: 1.8rem;
}
.btn__container .btn__sendmsg {
  margin-bottom: 3rem;
}
.btn__container:hover .triangle__icon,
.btn__container:hover .btn__aboutme,
.btn__container:hover .btn__sendmsg {
  background-color: $cyan;
  color: #eeecec;
}

.btn__container:hover .icon__image {
  background-image: url("../media/images/icons/down-arrows-black.svg");
  opacity: 1;
}

.btn__container:hover .btn__contactme,
.btn__container:hover .btn__goto,
.btn__container:hover .btn__viewproject,
.btn__container:hover .btn__visitwebsite {
  background-color: #33323d;
  color: #eeecec;
}
