@import "../scss/main.scss";


.header__nav {
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  margin: 2rem;
  .menu__container {
    #link-text {
      @media (min-width: 768px) {
        color: black;
        &:hover {
          color: $cyan; 
        }
      }
    }
  }
  .hamburger-react {
    bottom: 0.62rem;
    left: 12.8rem;
  }
}
