@import "../scss/main.scss";
.menu__container {
  width: 14.5rem;
  height: 11.6rem;
  background-color: $grayish-dark-blue;
  font-family: $public-sans;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 12px;
  margin: 2.5rem 3.5rem 0 0;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.3s ease both;
  @media (min-width: 768px) {
    width: 19.3rem;
    height: 1rem;
    flex-direction: row;
    background-color: transparent;
    margin: 0.5rem 0.5rem 0.5rem 19.8rem;
    gap: 4rem;
    animation: fadeInUp 0.5s ease both;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


  
