.bottomline {
    margin: 0rem 2rem 2rem 2rem;
    border-bottom: 2px solid rgba(151, 151, 151, 0.4);
    
}
.bottomline-short {
    border-bottom: 2px solid rgba(151, 151, 151, 0.4);
    width: 9rem;
    margin-bottom: 2.5rem;
    @media(min-width: 1440px) {
        width: 35rem;
    }
}